# Ignore environment files
.env
.test.env

# Ignore pytest cache
.pytest_cache/

# Ignore VSCode settings
.vscode/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
Engvenv/
